<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" routerLink="">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="">Home</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/adivinanza" class="nav-link">
                            Adivinanza</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/interruptor" class="nav-link">
                            Interruptor</a>
                </li>
                <li class="nav-item dropdown">
                    <button class="nav-link dropdown-toggle" id="dropdown-button"role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Dropdown
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdown-button">
                        <li>
                        <a class="dropdown-item">
                            <a routerLink="/libros" class="nav-link"><i
                                class="fas fa-book text-primary mt-1 me-2"></i>Servidor Libros</a>
                            </a>
                        </li>
                        <li>
                        <a class="dropdown-item">
                            <a routerLink="/add" class="nav-link"><i
                                class="fas fa-square-plus text-primary mt-1 me-2"></i>Añade libro</a>
                            </a>
                        </li>
                        </ul>
                </li>
            </ul>
            <div class="d-flex"> <!-- el form imposibilitaba recuperar el valor-->
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="busqueda">
                <!-- <input class="form-control me-2" type="text" id="search" [(ngModel)]="busqueda" placeholder="Buscar"
          aria-label="Search"> -->
          <!-- <input type="number" id="busqueda2" [(ngModel)]="busqueda2"> 
          <button (click)="buscar(busqueda2)" id="button">Comprobar</button> -->
                <!-- <button (click)="buscar()" class="btn btn-outline-success" type="submit">Search</button> -->
                <button class="btn btn-outline-success" (click)="buscar(busqueda)"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </div>
    </div>
</nav>