<div class="nga-container-sidebar">
    <ul class="list-unstyled p-2">
        <li class="mb-1">
            <button class="btn nga-btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                data-bs-target="#home-collapse" aria-expanded="false">
                API proyects
            </button>
            <div class="collapse" id="home-collapse">
                <ul class="nga-btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li>
                        <a routerLink="/clima" class="link-dark rounded"><i
                                class="fas fa-cloud text-primary mt-1 me-2"></i>Clima App</a>
                    </li>
                    <li>
                        <a routerLink="/anime-chan" class="link-dark rounded"><i
                                class="fas fa-person-rifle text-primary mt-1 me-2"></i>AnimeChan App</a>
                    </li>
                    <li>
                        <a routerLink="/neko-best" class="link-dark rounded"><i
                                class="fas fa-shield-cat text-primary mt-1 me-2"></i>NekoBest App</a>
                    </li>
                    <li>
                        <a routerLink="/noticias" class="link-dark rounded"><i
                                class="fas fa-newspaper text-primary mt-1 me-2"></i>Noticias App</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn nga-btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                data-bs-target="#orders-collapse" aria-expanded="false">
                Server
            </button>
            <div class="collapse" id="orders-collapse">
                <ul class="nga-btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li class="nav-item">
                        <a routerLink="/libros" class="nav-link"><i
                            class="fas fa-book text-primary mt-1 me-2"></i>Servidor Libros</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/add" class="nav-link"><i
                            class="fas fa-square-plus text-primary mt-1 me-2"></i>Añade libro</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="border-top my-3"></li>
        <li class="mb-1">
            <button class="btn nga-btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                data-bs-target="#account-collapse" aria-expanded="false">
                Components
            </button>
            <div class="collapse" id="account-collapse">
                <ul class="nga-btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li>
                        <a routerLink="/adivinanza" class="link-dark rounded"><i
                                class="fas fa-wand-sparkles text-primary mt-1 me-2"></i>Adivinanza</a>
                    </li>
                    <li>
                        <a routerLink="/interruptor" class="link-dark rounded"><i
                                class="fas fa-toggle-off text-primary mt-1 me-2"></i>Interruptor</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>