<div class="container contenedor">
    <img src="../../../assets/img/anime-chan.webp" alt="anime-chan" srcset="">
    <h1>Aplicación de Frases de Anime</h1>
    <input type="text" [(ngModel)]="anime" placeholder="Ingrese una anime" aria-label="Ingrese una anime">
    <button (click)="buscarFrase()" id="botonBusquedaFraseAnime">Buscar</button>
    @if (datosAnimeChan.frase) {
    <div id="datosAnimeChan">
        <h2>{{ datosAnimeChan.personaje }}:</h2>
        <p>{{ datosAnimeChan.frase }}</p>
        <p>Del anime: {{ datosAnimeChan.anime }}</p>
    </div>
    }
</div>